In [4]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=7)
print(X.shape,y.shape)

(1000, 20) (1000,)

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=1)

In [18]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [19]:
from sklearn.metrics import accuracy_score
yhat = model.predict(X_test)
accuracy = accuracy_score(y_test,yhat)
print('Accuracy: %.3f' %(accuracy*100))

Accuracy: 84.848

In [22]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
import numpy as np
from sklearn.pipeline import Pipeline

In [24]:
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=7)

steps = list()
steps.append(('scaler',MinMaxScaler()))
steps.append(('model', LogisticRegression()))
pipeline = Pipeline(steps=steps)

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(pipeline, X, y, scoring = 'accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (np.mean(scores)*100, np.std(scores)*100))

Accuracy: 85.433 (3.471)

In [27]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Documents\PYTHON\Data\Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [41]:
types = df.dtypes
types
counts = df.nunique()
counts
#df.shape

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [36]:
to_del = [i for i,v in enumerate(counts) if v == 1]
print(to_del)

[]

In [37]:
df.drop(to_del, axis=1, inplace=True)

In [38]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [47]:
from numpy import unique

In [103]:
dfv = df.values
#for x in list(df.columns):
    #print(x)
    for a in range(dfv.shape[1]):
        num = len(unique(dfv[:,a]))
        percentage = float(num)/dfv.shape[0] * 100
        print(num,percentage)

IndentationError: unexpected indent (<ipython-input-103-8101f6fff338>, line 4)

In [62]:
from numpy import loadtxt
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv'
data = loadtxt(url, delimiter=',')
data

array([[1.00000e+00, 2.55800e+03, 1.50609e+03, ..., 6.57400e+01,
        7.95000e+00, 1.00000e+00],
       [2.00000e+00, 2.23250e+04, 7.91100e+01, ..., 6.57300e+01,
        6.26000e+00, 0.00000e+00],
       [3.00000e+00, 1.15000e+02, 1.44985e+03, ..., 6.58100e+01,
        7.84000e+00, 1.00000e+00],
       ...,
       [2.02000e+02, 1.40000e+01, 2.51400e+01, ..., 6.59100e+01,
        6.12000e+00, 0.00000e+00],
       [2.03000e+02, 1.00000e+01, 9.60000e+01, ..., 6.59700e+01,
        6.32000e+00, 0.00000e+00],
       [2.04000e+02, 1.10000e+01, 7.73000e+00, ..., 6.56500e+01,
        6.26000e+00, 0.00000e+00]])

In [64]:
for a in range(data.shape[1]):
    num = len(unique(data[:,a]))
    percentage = float(num)/data.shape[0] * 100
    print('%d, %d, %.1f%%' %(a,num,percentage))

0, 238, 25.4%
1, 297, 31.7%
2, 927, 98.9%
3, 933, 99.6%
4, 179, 19.1%
5, 375, 40.0%
6, 820, 87.5%
7, 618, 66.0%
8, 561, 59.9%
9, 57, 6.1%
10, 577, 61.6%
11, 59, 6.3%
12, 73, 7.8%
13, 107, 11.4%
14, 53, 5.7%
15, 91, 9.7%
16, 893, 95.3%
17, 810, 86.4%
18, 170, 18.1%
19, 53, 5.7%
20, 68, 7.3%
21, 9, 1.0%
22, 1, 0.1%
23, 92, 9.8%
24, 9, 1.0%
25, 8, 0.9%
26, 9, 1.0%
27, 308, 32.9%
28, 447, 47.7%
29, 392, 41.8%
30, 107, 11.4%
31, 42, 4.5%
32, 4, 0.4%
33, 45, 4.8%
34, 141, 15.0%
35, 110, 11.7%
36, 3, 0.3%
37, 758, 80.9%
38, 9, 1.0%
39, 9, 1.0%
40, 388, 41.4%
41, 220, 23.5%
42, 644, 68.7%
43, 649, 69.3%
44, 499, 53.3%
45, 2, 0.2%
46, 937, 100.0%
47, 169, 18.0%
48, 286, 30.5%
49, 2, 0.2%

In [104]:
from sklearn.feature_selection import VarianceThreshold

In [105]:
X = data[:, :-1]
y = data[:, -1]
print(X.shape, y.shape)

(937, 49) (937,)

In [107]:
import numpy as np
import matplotlib.pyplot as plt
thresholds = np.arange(0.0,0.5,0.05)

results = list()
for t in thresholds:
    transform = VarianceThreshold(threshold=t)
    X_sel = transform.fit_transform(X)
    n_features = X_sel.shape[1]
    print('>Threshold=%.2f, Features=%d' %(t, n_features))

>Threshold=0.00, Features=48
>Threshold=0.05, Features=37
>Threshold=0.10, Features=36
>Threshold=0.15, Features=35
>Threshold=0.20, Features=35
>Threshold=0.25, Features=35
>Threshold=0.30, Features=35
>Threshold=0.35, Features=35
>Threshold=0.40, Features=35
>Threshold=0.45, Features=33

In [117]:
dups = df.duplicated()
print(dups.any())
print(df[dups])

False
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [114]:
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import LocalOutlierFactor
import warnings
warnings.filterwarnings('ignore')

In [115]:
X, y = data[:,:-1], data[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.33, random_state=1)
print(X_train.shape,y_train.shape)

lof = LocalOutlierFactor()
yhat = lof.fit_predict(X_train)

mask = yhat != -1

X_train, y_train = X_train[mask,:], y_train[mask]
print(X_train.shape, y_train.shape)

model = LogisticRegression()
model.fit(X_train,y_train)

yhat = model.predict(X_test)

mae = mean_absolute_error(y_test,yhat)
print('MAE: %.3f' %mae)

(627, 49) (627,)
(561, 49) (561,)
MAE: 0.055

In [128]:
datanew = pd.DataFrame(data)
datanew['missing'] = (datanew.loc[:,:] == 0).sum()
datanew.head(20)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,missing
0,1.0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,...,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95,1.0,0.0
1,2.0,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,...,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26,0.0,0.0
2,3.0,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,...,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84,1.0,0.0
3,4.0,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,...,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07,1.0,0.0
4,5.0,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,...,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35,0.0,6.0
5,6.0,54.0,1438.13,544.91,82.0,135000.0,44.67,6.92,1570.0,0.15,...,200.00,150.00,52.22,4.06,0.0,30967.25,65.77,7.85,1.0,0.0
6,7.0,116.0,1446.29,580.94,97.0,290000.0,41.53,6.24,3660.0,0.15,...,403.11,164.58,114.82,6.44,0.0,31258.37,65.79,7.85,1.0,0.0
7,8.0,57.0,28.68,715.39,141.0,142500.0,51.67,0.83,1810.0,0.02,...,360.56,165.71,132.47,3.02,0.0,51985.06,65.67,6.25,0.0,0.0
8,9.0,188.0,964.23,456.23,22.0,470000.0,38.90,5.89,3720.0,0.15,...,492.44,256.77,124.72,6.11,0.0,28871.82,65.67,7.36,1.0,0.0
9,10.0,64.0,903.02,274.88,33.0,160000.0,41.22,7.90,1850.0,0.19,...,223.61,182.83,50.12,2.58,0.0,32053.95,65.58,7.35,1.0,0.0
10,11.0,59.0,1127.41,1507.76,42.0,147500.0,47.59,4.72,1800.0,0.10,...,212.13,120.21,47.73,5.88,0.0,55128.46,66.18,7.18,1.0,0.0
11,1.0,329.0,1627.54,1409.43,51.0,822500.0,35.00,6.10,4610.0,0.17,...,710.63,451.78,150.85,3.23,0.0,4530.75,66.25,7.85,0.0,0.0
12,2.0,3234.0,1091.56,1357.96,32.0,8085000.0,40.08,8.98,25450.0,0.22,...,3095.56,1937.42,773.69,2.21,0.0,4927.51,66.15,7.24,0.0,0.0
13,3.0,2339.0,1537.68,1633.02,45.0,5847500.0,38.13,9.29,22110.0,0.24,...,2404.16,1530.38,659.67,2.59,0.0,4732.04,66.34,7.67,0.0,0.0
14,4.0,2971.0,1020.91,630.80,59.0,7427500.0,32.76,10.48,17380.0,0.32,...,1749.29,1245.07,348.70,4.54,0.0,25579.34,65.78,7.41,1.0,0.0
15,5.0,3155.0,1118.08,469.39,11.0,7887500.0,30.41,7.99,15880.0,0.26,...,3059.41,2043.90,477.23,1.70,0.0,28172.07,65.72,7.58,1.0,0.0
16,6.0,11475.0,1249.47,1386.03,41.0,28687500.0,38.57,9.50,58790.0,0.25,...,4816.64,3894.10,593.54,1.63,0.0,5514.48,66.18,7.41,0.0,0.0
17,7.0,1034.0,1776.55,1464.70,52.0,2585000.0,39.30,14.51,12990.0,0.37,...,1140.18,651.51,300.07,5.80,0.0,4535.86,66.29,8.01,0.0,0.0
18,8.0,1035.0,1304.90,1281.72,68.0,2587500.0,35.90,7.51,15420.0,0.21,...,1234.91,632.82,358.06,6.98,0.0,6165.56,66.14,7.52,0.0,0.0
19,9.0,4851.0,1700.15,1345.04,52.0,12127500.0,34.47,7.60,49430.0,0.22,...,2600.48,1983.69,387.60,1.60,0.0,4236.17,66.23,7.96,0.0,0.0

In [124]:
Total_missing = missing.sum()
Total_missing

4377